$titleColor: #e04714;
$navbarTextColor: #e04714;
$bgColor: white;
$navBgColor: #121111;
$blackBgColor: #121111;
$blackFontColor: #121111;
$linksColor:  #e04714;
$shadowColor: darkgray;
$font: 'Ubuntu', sans-serif;
